.button {
    background-color: #04AA6D; /* Green */
    border: none;
    color: white;
    padding: 15px 130px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 50;
    margin: 10px 2px;
    cursor: pointer;
  }
  
  .button5 {background-color: #400520;} 
 