

<div class="navbar navbar-dark bg-dark" > 
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    
    <a class ="size" href="#">
      <img src="https://t4.ftcdn.net/jpg/00/61/06/27/360_F_61062796_NF87GPnWV0fQ2LhoYNlyjev0PocRwZj9.jpg" alt="SBI Bank Logo" class="logo-image">
  </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="/home" style="text-decoration: underline;"><p class="heading">Home</p></a>
      </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/login" style="text-decoration: underline;"><p class="heading">Login</p></a>
      </li>
      
      <li class="nav-item">
        <a class="nav-link" routerLink="/contact" style="text-decoration: underline;"><p class="heading">Contact_us</p></a>
    </li>
    
      </div>
      
    </div>
    
  </div>
</nav>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button  style="text-decoration: underline;" class="btn" (click)="onClickExit()"> <p class="heading">Exit</p></button>
<!-- <button type="submit" class="btn"><i class="fa fa-home"></i> id="exit" (click)="onClickExit()">Exit</button> -->

 </div> 

<router-outlet></router-outlet>
