

<div class="container mt-4">
    <div class="card">
        <h1>Add Bank </h1>

        <form>
            <div class="form-group">
                <label for="bankid"><b>BankId :</b></label>
                <input type="text" placeholder="Enter BankId" class="form-control"  name="bankid"
                    required>
            </div>

            <div class="form-group">
                <label for="bankname"><b>Bank Name :</b></label>
                <input type="text" placeholder="Enter Bank Name" name="bankname" required>
            </div>

            <div class="form-group">
                <label for="branchname"><b>Branch Name :</b></label>
                <input type="text" placeholder="Enter Branch Name" name="branchname" required>

            </div>

            <div class="form-group">
                <label for="ifsccode"><b>Ifsc Code :</b></label>
                <input type="text" placeholder="Enter ifsc code" name="branchname" required>

            </div>
            <div class="form-group">
                <label for="address"><b>Address :</b></label>
                <input type="address" placeholder="Enter Address " name="address" required>
            </div>
            <!-- <button type="submit" class="btn btn-primary mt-4"(click)="save()">Submit</button> -->
        </form>
        </div>
        </div>