.gradient-custom {
    background: radial-gradient(50% 123.47% at 50% 50%, #00ff94 0%, #720059 100%),
      linear-gradient(121.28deg, #669600 0%, #ff0000 100%),
      linear-gradient(360deg, #0029ff 0%, #8fff00 100%),
      radial-gradient(100% 164.72% at 100% 100%, #6100ff 0%, #00ff57 100%),
      radial-gradient(100% 148.07% at 0% 0%, #fff500 0%, #51d500 100%);
    background-blend-mode: screen, color-dodge, overlay, difference, normal;
  }

  
.button {
  background-color: #04AA6D; /* Green */
  border: none;
  color: white;
  padding: 15px 130px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 50;
  margin: 10px 2px;
  cursor: pointer;
}
.button1 {
    background-color: #04AA6D; /* Green */
    border: none;
    color: white;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 50;
    margin: 5px 2px;
    cursor: pointer;
    border-radius: 6px;
  }

/*  */
.button5 {background-color: #400520;} 
.button6 {background-color: #32d626;} 

/* body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #d3d3d3;
  }
 
 div {
    background: green;
  } */

  
    .div-1 {
        background-color: #EBEBEB;
    }
    
    .div-2 {
    	background-color: #ABBAEA;
    }
    
    .div-3 {
    	background-color: #FBD603;
    }
